:root{
    --color-verdeOscuro: #17300c;
    --color-verdeMedio: #3c6101;
    --color-naranjaChillon:#ff5b00;
    --color-naranjaFuerteApagado:#dc5c05;
    --color-naranjaClaro: #ff9e00;
    --color-clarito: #f5f6f8;
    --color-blanco: #ffffff;    

}

html,
body
 {
    height: 100%;
    padding:0px;
    
}

/* backgrounds y botones  */

.bg-green{
    background-color: #17300C;
    
}

.btn-green{
    background-color: #17300C;
    color: var(--color-naranjaChillon);
    
}

.btn-green:hover{
    background-color: var(--color-naranjaClaro) !important;
    color: var(--color-blanco);
}

.text-orange{
    color: var(--color-naranjaChillon) !important;
}

.text-orangeLight {
    color: var(--color-naranjaClaro) !important;
}

.btn-buscar{
    color:var(--color-naranjaChillon);
    border-color: var(--color-naranjaChillon);
    background: transparent;
}
.btn-buscar:hover {
    background-color: var(--color-naranjaClaro) !important;
    border-color: var(--color-blanco);
    
}

/* imagen de portada */
#portada {
    height: 720px;
    /* margin-top: 30px; */
    padding: 3rem 2rem;
    color: #ffffff;
    background: url(../images/portada5.jpg)no-repeat center center fixed;      
    position: relative;
    /* overflow: hidden; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    
}


/* animacion del texto de portada */
.texto {
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* overflow: hidden; */
    position:relative; 
    top:170px; 
    width: 700px; 
    height:350px;  
    
     /* opacity: 0.6; */
     /* font-family:""; */
     }  
    
    
    .texto h1{
     margin: 100px 0px 0px 40px;
     position:absolute; 
     left:0px;
     top:30px; 
     transform:translateX(-120%);
     transition:all .7s ease;
     color: var(--color-blanco);
     font-weight: bold;
    } 
    
    .texto:hover:before{ 
     width: 90%;
      }
    .texto:hover:after {
        width: 90%;
      }
     .texto:hover h1,.texto:hover p{
     transform:translateX(0%); 
     transition:all .7s ease;
      }
    .texto:hover{
     background-size: 110% 110%;
     transition:all .7s ease;
    
    }

    .text-shadow {
        text-shadow: 0 0 0.2em #ff5b00;
    }


    .navbar-ml{
        margin-left: 150px;
    }



    /* footer */
.footer {
    background: var(--color-verdeOscuro);
    color: var(--color-naranjaFuerteApagado);
    margin-left: 0px;
    margin-right: 0px;
    
  }
  .footer .footer-botton {
    background: var(--color-verdeOscuro);
    color: var(--color-naranjaChillon);
    text-align: center;
    bottom: 0px;
    left: 0px;
    line-height: 20px;
    border: 2px solid var(--color-verdeMedio);
    font-size: x-small;
  }
  
  .footer .footer-content .footer-section {
    border: 2px solid var(--color-verdeMedio);
    padding: 5px;
    color: var(--color-naranjaFuerteApagado);
    font-size: small;
    text-align: center;
    height: 170px;
  }
  /* FIN FOOTER */
  
  
/*   
    .icono {
        /* width: 40px;
        height: auto; */
    /* } */ 

        /* .sticky-top-2 {
          position: -webkit-sticky;
          position: sticky;
          top: 76px;
          z-index: 1020;
        } */
      

        /* @supports ((position: -webkit-sticky) or (position: sticky)) {
            .sticky-top-2 {
              position: -webkit-sticky !important;
              position: sticky;
              top: 100px;
              z-index: 1030;
            }
          } */